body {
  background-color: #efefef;
  font-family: Helvetica, Arial, sans-serif;
}
h2 {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #FFF;
  color: hsla(168, 76%, 36%, 1);
  /* color: #005E00; */
  text-align: center;
  margin: 0;
  padding: 0.2917em 0;   /* 8px/24px */
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.33);
}
#map-canvas {
  width: 1156px;
  margin: 0 auto;
}
.container-main {
  padding-top: 3.8125em;  /* 61px/16px ( 61px = height of header + 14px gutter) */ 
  width: 1156px;
  margin: 0 auto;
}
.masonry { 
  list-style: none;
  padding: 0;        
  margin: 0;         
}
.masonry .grid-sizer { width: 275px; }
.masonry .item {
  background-color: #fff;
  width: 275px;
  border-radius: 2px;
  margin-bottom: 14px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);  /* <offset-x> <offset-y> <blur-radius>? <spread-radius>? <color>? */
}
.masonry .item img {
  border: none;
  outline: none;
  display: block;
  max-width: 100%;
  border-radius: 2px 2px 0 0;
}
.masonry .item .issue-details {
  display: block;
  font-size: 13px;
  color: #666;
  border-top: 1px #ccc solid;
  padding: 0 13px 0 13px;
  border-radius: 0 0 2px 2px;
}
.masonry .item .issue-details p {
  max-width: 100%;
  margin: 8px 0;
}
.created_at {
  font-weight: 300;
}
.address {
  color: hsla(193, 63%, 42%, 1);
}
.created_at {
  color: rgba(0, 0, 0, 0.4);
}

#ajax-fail {
  width: 640px;
  margin: 0 auto;
  border-radius: 2px 2px 0 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);  /* <offset-x> <offset-y> <blur-radius>? <spread-radius>? <color>? */
  font-size: 20px; 
  background-color: #fff
}

.spinner {
  display: none;
  position: absolute;
  top: 120px;
  left: 50%;
  margin-left: -23px; 
  z-index: 10;
}
